-e git+https://github.com/thu-coai/AISafetyLab.git@00b582d978c9cef7d11c49ac078a35e9836c4e10#egg=aisafetylab
bitsandbytes==0.45.1
cupy-cuda12x==13.3.0
email_validator==2.2.0
fastapi-cli==0.0.7
fastchat==0.1.0
flash_attn==2.7.4.post1
Flask==3.1.0
httptools==0.6.4
hydra-core==1.3.2
latex2mathml==3.77.0
math-verify==0.7.0
matplotlib==3.10.3
numba==0.60.0
nvidia-cusparselt-cu12==0.6.2
opencv-python-headless==4.10.0.84
Pebble==5.1.1
pip==25.1
pyairports==2.1.1
pydantic-settings==2.7.1
python-multipart==0.0.20
torchaudio==2.5.1
trl==0.13.0
uvloop==0.21.0
watchfiles==1.0.3
wavedrom==2.0.3.post3
websockets==14.1
wheel==0.45.1
word2number==1.1
